* {
  color: aqua;
}

body {
  background: url(images/abstract-uv-ultraviolet-light-composition.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-size: xx-large;
  color: maroon;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.boxContainer {
  margin-top: 50px;
  border: 2px solid blue;
  height: 500px;
  width: 900px;
  display: flex;
}

.box1 {
  border: 2px solid red;
  height: 500px;
  width: 500px;
}

.playerInfo {
  text-align: center;
}

#boxOneContent {
  border: 2px solid red;
  height: 381px;
  text-align: start;
}

.box2 {
  border: 2px solid red;
  height: 500px;
  width: 500px;
}

.computerInfo {
  text-align: center;
}

#boxTwoContent {
  border: 2px solid red;
  height: 381px;
  text-align: start;
}
